$primary: #d3141c;
$primary-85: rgba(211, 20, 28, 0.85);
$primary-70: rgba(211, 20, 28, 0.7);
$primary-55: rgba(211, 20, 28, 0.55);
$primary-40: rgba(211, 20, 28, 0.4);
$primary-25: rgba(211, 20, 28, 0.25);
$primary-10: rgba(211, 20, 28, 0.1);

$secondary: #ffffff;
$transparent: rgba(255, 255, 255, 0);

$success: #74c820;
$success-85: rgba(116, 200, 32, 0.85);
$success-70: rgba(116, 200, 32, 0.7);
$success-55: rgba(116, 200, 32, 0.55);
$success-40: rgba(116, 200, 32, 0.4);
$success-25: rgba(116, 200, 32, 0.25);
$success-10: rgba(116, 200, 32, 0.10);

$warning: #e2b100;
$warning-85: rgb(226, 177, 0, 0.85);
$warning-70: rgb(226, 177, 0, 0.7);
$warning-55: rgb(226, 177, 0, 0.55);
$warning-40: rgb(226, 177, 0, 0.4);
$warning-25: rgb(226, 177, 0, 0.25);
$warning-10: rgb(226, 177, 0, 0.1);

$error: #c83420;
$error-40: rgb(200, 52, 32, 0.4);

$info: #206DC8;
$info-85: rgba(32, 109, 200, 0.85);
$info-70: rgba(32, 109, 200, 0.7);
$info-55: rgba(32, 109, 200, 0.55);
$info-40: rgba(32, 109, 200, 0.4);
$info-10: rgba(32, 109, 200, 0.1);

$light-gray: #d9d9d9;
$light-gray-85: #e0e0e0;
$light-gray-70: #e9e9e9;
$light-gray-55: #f1f1f1;
$light-gray-40: #f9f9f9;

$dark-gray: #22292a;
$dark-gray-85: rgb(34, 41, 42, 0.85);
$dark-gray-70: rgb(34, 41, 42, 0.7);
$dark-gray-55: rgb(34, 41, 42, 0.55);
$dark-gray-40: rgb(34, 41, 42, 0.4);

$font-size-h1: 56px;
$font-size-h2: 44px;
$font-size-h3: 40px;
$font-size-h4: 36px;
$font-size-h5: 28px;
$font-size-h6: 24px;
$font-size-p1: 20px;
$font-size-p2: 18px;
$font-size-p3: 16px;
$font-size-p4: 14px;
$font-size-p5: 12px;
$font-size-p6: 10px;

$line-height-100: 1;
$line-height-120: 1.2;
$line-height-150: 1.5;

$d-0: 4px;
$d-1: 8px;
$s-1: 12px;
$s-2: 16px;
$s-3: 20px;
$s-4: 24px;
$m-1: 28px;
$m-2: 32px;
$m-3: 36px;
$m-4: 40px;
$l-1: 44px;
$l-2: 48px;
$l-3: 52px;
$l-4: 56px;
$xl-1: 60px;
$xl-2: 64px;
$xl-3: 68px;
$xl-4: 72px;
$xxl-1: 76px;
$xxl-2: 80px;
$xxl-3: 84px;
$xxl-4: 88px;
$xxxl-1: 92px;
$xxxl-2: 96px;
$xxxl-3: 100px;
$xxxl-4: 104px;
$b-1: 108px;
$b-2: 112px;
$b-3: 116px;
$b-4: 120px;
$bb-1: 124px;
$bb-2: 128px;
$bb-3: 132px;
$bb-4: 136px;
$bbb-1: 140px;
$bbb-2: 144px;
$bbb-3: 148px;
$bbb-4: 152px;

$primary-text: #333333;
$primary-text-5: rgb(51, 51, 51, 0.05);
$primary-text-10: rgb(51, 51, 51, 0.1);
$primary-text-15: rgb(51, 51, 51, 0.15);
$primary-text-20: rgb(51, 51, 51, 0.2);
$primary-text-25: rgb(51, 51, 51, 0.25);
$primary-text-40: rgb(51, 51, 51, 0.4);
$primary-text-70: rgb(51, 51, 51, 0.7);
