@import './variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
}

html,
body {
  font-family: Ubuntu-regular, serif;
  font-size: $font-size-p4;
  background: rgba($dark-gray-40, 0.25);
  min-height: 100vh;
  height: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

#q-app {
  height: 100%;
}

.my-3 {
  margin-bottom: $s-1;
  margin-top: $s-1;
}

.mb-3 {
  margin-bottom: $s-1;
}

.mt-3 {
  margin-top: $s-1;
}

.mt-5 {
  margin-top: $s-3;
}

.mt-8 {
  margin-top: $m-2;
}

.text-primary {
  color: $primary !important;
}

.bg-primary {
  background: $primary !important;
}

.bg-gray-2 {
  background: $light-gray-85 !important;
}

.text-gray-2 {
  color: $light-gray-85 !important;
}

@font-face {
  font-family: Ubuntu-medium;
  src: url('../assets/fonts/Ubuntu-Medium.ttf');
}

@font-face {
  font-family: Ubuntu-regular;
  src: url('../assets/fonts/Ubuntu-Regular.ttf');
}

@font-face {
  font-family: Golos UI;
  src: url('../assets/fonts/Golos-UI_Regular.ttf');
}

@font-face {
  font-family: Golos UI-medium;
  src: url('../assets/fonts/Golos-UI_Medium.ttf');
}

@font-face {
  font-family: Golos UI-bold;
  src: url('../assets/fonts/Golos-UI_Bold.ttf');
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
  transition: opacity 1s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
