.main-notification {
  width: 100%;
  max-width: unset;
  border-radius: 16px;
  padding: 28px;
  @include font('Golos', 20px, 24px, 400);

  .q-notification__message {
    padding: 0;
  }

  .q-notification__badge--top-left {
    top: -26px;
  }
}