* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
}

html,
body {
  font-family: 'Golos', sans-serif;
  font-size: $font-size-p4;
  background: rgba($dark-gray-40, 0.25);
  min-height: 100vh;
  height: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

#q-app {
  height: 100%;
}

.my-3 {
  margin-bottom: $s-1;
  margin-top: $s-1;
}

.mb-3 {
  margin-bottom: $s-1;
}

.mt-3 {
  margin-top: $s-1;
}

.mt-5 {
  margin-top: $s-3;
}

.mt-8 {
  margin-top: $m-2;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

//Notification
.main-notification {
  width: 100%;
  max-width: unset;
  border-radius: 16px;
  padding: 28px;
  @include font('Golos', 20px, 24px, 400);

  .q-notification__message {
    padding: 0;
  }

  .q-notification__badge--top-left {
    top: -26px;
  }
}