.text-primary {
  color: $primary !important;
}

.bg-primary {
  background: $primary !important;
}

.text-primary-text {
  color: $primary-text !important;
}

.bg-primary-text {
  background: $primary-text !important;
}

.text-primary-text-5 {
  color: $primary-text-5 !important;
}

.bg-primary-text-5 {
  background: $primary-text-5 !important;
}

.text-primary-text-40 {
  color: $primary-text-40 !important;
}

.bg-primary-text-40 {
  background: $primary-text-40 !important;
}

.bg-gray-2 {
  background: $light-gray-85 !important;
}

.text-gray-2 {
  color: $light-gray-85 !important;
}

.bg-gray-3 {
  background: $light-gray-40 !important;
}

.text-gray-3 {
  color: $light-gray-40 !important;
}

.text-dark-1 {
  color: $primary-text !important;
}

.bg-dark-1 {
  background: $primary-text !important;
}

.text-dark-gray {
  color: $dark-gray !important;
}

.bg-dark-gray {
  background: $dark-gray !important;
}

.text-dark-gray-55 {
  color: $dark-gray-55 !important;
}

.bg-dark-gray-55 {
  background: $dark-gray-55 !important;
}

.text-dark-gray-70 {
  color: $dark-gray-70 !important;
}

.bg-dark-gray-70 {
  background: $dark-gray-70 !important;
}

.bg-error {
  background: $error !important;
}

.text-error {
  color: $error !important;
}

.bg-error-10 {
  background: $error-10 !important;
}

.text-error-10 {
  color: $error-10 !important;
}

.bg-error-25 {
  background: $error-25 !important;
}

.text-error-25 {
  color: $error-25 !important;
}

.bg-success {
  background: $success !important;
}

.text-success {
  color: $success !important;
}

.bg-success-10 {
  background: $success-10 !important;
}

.text-success-10 {
  color: $success-10 !important;
}

.bg-success-25 {
  background: $success-25 !important;
}

.text-success-25 {
  color: $success-25 !important;
}

.bg-info {
  background: $info !important;
}

.text-info {
  color: $info !important;
}

.bg-info-10 {
  background: $info-10 !important;
}

.text-info-10 {
  color: $info-10 !important;
}

.bg-info-25 {
  background: $info-25 !important;
}

.text-info-25 {
  color: $info-25 !important;
}

.bg-warning {
  background: $warning !important;
}

.text-warning {
  color: $warning !important;
}

.bg-warning-10 {
  background: $warning-10 !important;
}

.text-warning-10 {
  color: $warning-10 !important;
}

.bg-warning-25 {
  background: $warning-25 !important;
}

.text-warning-25 {
  color: $warning-25 !important;
}

.text-border-color {
  color: $border-color-1;
}

.bg-border-color {
  color: $border-color-1;
}
