$primary: #d3141c;
$primary-85: #d3141cD9;
$primary-70: #d3141cB3;
$primary-55: #d3141c8C;
$primary-40: #d3141c66;
$primary-25: #d3141c40;
$primary-10: #d3141c1A;

$secondary: #ffffff;
$transparent: #ffffff00;

$success: #74c820;
$success-85: #74c820D9;
$success-70: #74c820B3;
$success-55: #74c8208C;
$success-40: #74c82066;
$success-25: #74c82040;
$success-10: #74c8201A;

$warning: #e5ac00;
$warning-85: #e5ac00D9;
$warning-70: #e5ac00B3;
$warning-55: #e5ac008C;
$warning-40: #e5ac0066;
$warning-25: #e5ac0040;
$warning-10: #e5ac001A;

$error: #c83420;
$error-40: #c8342066;
$error-10: #c834201A;

$info: #206dc8;
$info-85: #206dc8D9;
$info-70: #206dc8B3;
$info-55: #206dc88C;
$info-40: #206dc866;
$info-10: #206dc81A;

$light-gray: #d9d9d9;
$light-gray-85: #e0e0e0;
$light-gray-70: #e9e9e9;
$light-gray-55: #f1f1f1;
$light-gray-40: #f9f9f9;

$dark-gray: #22292a;
$dark-gray-85: #22292aD9;
$dark-gray-70: #22292aB3;
$dark-gray-55: #22292a8C;
$dark-gray-40: #22292a66;

$primary-text: #333333;
$primary-text-70: #333333B3;
$primary-text-40: #33333366;
$primary-text-25: #33333340;
$primary-text-20: #33333333;
$primary-text-15: #33333326;
$primary-text-10: #3333331A;
$primary-text-5: #3333330D;

$border-color-1: #0000003D;

$font-size-h1: 56px;
$font-size-h2: 44px;
$font-size-h3: 40px;
$font-size-h4: 36px;
$font-size-h5: 28px;
$font-size-h6: 24px;
$font-size-p1: 20px;
$font-size-p2: 18px;
$font-size-p3: 16px;
$font-size-p4: 14px;
$font-size-p5: 12px;
$font-size-p6: 10px;

$line-height-100: 1;
$line-height-120: 1.2;
$line-height-150: 1.5;

$d-0: 4px;
$d-1: 8px;
$s-1: 12px;
$s-2: 16px;
$s-3: 20px;
$s-4: 24px;
$m-1: 28px;
$m-2: 32px;
$m-3: 36px;
$m-4: 40px;
$l-1: 44px;
$l-2: 48px;
$l-3: 52px;
$l-4: 56px;
$xl-1: 60px;
$xl-2: 64px;
$xl-3: 68px;
$xl-4: 72px;
$xxl-1: 76px;
$xxl-2: 80px;
$xxl-3: 84px;
$xxl-4: 88px;
$xxxl-1: 92px;
$xxxl-2: 96px;
$xxxl-3: 100px;
$xxxl-4: 104px;
$b-1: 108px;
$b-2: 112px;
$b-3: 116px;
$b-4: 120px;
$bb-1: 124px;
$bb-2: 128px;
$bb-3: 132px;
$bb-4: 136px;
$bbb-1: 140px;
$bbb-2: 144px;
$bbb-3: 148px;
$bbb-4: 152px;
