@font-face {
  font-family: VelaSans;
  src: url('@/assets/fonts/VelaSans/VelaSans-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: VelaSans;
  src: url('@/assets/fonts/VelaSans/VelaSans-Medium.ttf');
  font-weight: 500;
}
